#logo{
}

body{
	background-color: #ebeff5;
}


#total-orders{
	background-color: #4cb4c7;
}


#orders-delivered{
	background-color: #7abecc;
}

#orders-pending{
	background-color: #7CD1C0;
}

.pd_row__fill-weki{
	width: -webkit-fill-available;
	width: -moz-available;
}
.td_mg{
	margin-right: 5px;
}
.padding-top-25px{
	padding-top: 25px;
}
.table-style{
	border: solid grey 1px;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
}